* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --growthFactor: 6;
   --minScreen: 400;
   --darkBlue: #283747;
}

body {
   max-width: 100vw;
}

.main-box {
   background-color: #283747;
   width: 100%;
   max-width: 100%;
   min-height: 100%;
   padding: 3%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex-wrap: wrap;
   gap: calc(16px + var(--growthFactor) * (100vw / 1280));
}

.modal-box {
   display: none;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
   padding: 24px 16px;
   background-color: #FCFCFC;
   width: 40%;
   /* height: 50%; */
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-box {
   width: 90%;
   padding: 12px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-box legend {
   padding: 0 8px;
}

.form-box input {
   width: 100%;
   margin-bottom: 8px;
}

.form-buttons-box {
   margin-top: 24px;
   display: flex;
   gap: 12px;
}

.form-buttons-box button {
   border: 1px solid var(--darkBlue);
   background-color: transparent;
   color: var(--darkBlue);
   font-size: small;
   font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 5px;
   padding: 6px 12px;
}

.form-buttons-box button:hover {
   cursor: pointer;
   background-color: #283747;
   color: white;
}

.header-box {
   display: flex;
   background-color: #FCFCFC;
   justify-content: center;
   padding: 1.5% 10%;
}

.buttons-box {
   justify-self: flex-end;
}

.main-title {
   color: var(--darkBlue);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: calc(22px + var(--growthFactor) * (100vw / var(--minScreen)));
}

.header-button {
   border: 1px solid var(--darkBlue);
   background-color: transparent;
   color: var(--darkBlue);
   font-size: large;
   font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 5px;
   padding: 6px 12px;
}

.header-button:hover {
   cursor: pointer;
   background-color: #283747;
   color: white;
}

.card-box {
   background-color: white;
   color: #283747;
   width: 220px;
   height: 300px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
}

.card-upper-box {
   background-color: #CD5C5C;
   width: 100%;
   height: 25%;
   min-height: 80px;
   border-radius: 10px 10px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 1px 10px black;
}

.image-box {
   width: 80px;
   height: 80px;
   margin-bottom: -30%;
   background-color: white;
   border-radius: 50%;
   top: 0;
   right: 0;
}

.image-box img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   box-shadow: 3px 3px 8px black;
}

h1 {
   font-size: 24px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
}

h2 {
   font-size: 18px;
   font-weight: 500;
}

h3 {
   font-size: 14px;
   font-weight: 500;
}


.text-box {
   font-family: 'Verdana', sans-serif;
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100%;
}

.title-box {
   margin: 8px 8px 16px;
   text-align: center;
}